body{
      background-color: rgb(36, 36, 36);
   
}

img{
    margin: 3px;
width: 250px;
height: 350px;
border-radius: 10px;
display: block;
margin: auto;
}

p{

     font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 15px;
    color: #e0e0e0cb;
    padding: 5px;
    line-height: 1.5;
    text-align: center;
}